* {
  margin:0; padding:0;
}
body {
  font-family:  游ゴシック, "Yu Gothic","ヒラギノ角ゴ", HiraKaku,  メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
.sticky_header{
  background-color:black;
  height:13%;
  padding: 6px;
  position: sticky;
  top: 0;
  z-index: 3;
}
.sticky_header_logo{
  padding-left: 5px;
  padding-top: 3px;
  float: left;
}
.sticky_header_title{
  color: #F0F6Fc;
  text-align: center;
  line-height: 30px;
  font-size: 4vw;
}
.sticky_header_slogan{
  color: #e4eaef;
  text-align: center;
  font-size: 4vw;
}
.sticky_header_nav{
  margin: 10px auto 0 auto;
  width: 95%;
  padding: 7px;
  border-top: solid;
  border-width: 2px;
  border-color: #e4eaef;
  clear: left;
}
.sticky_header_link{
  color: #e4eaef;
  font-size: 4.6vw;
  margin: 7px;
}
header{
  background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
  color: #F0F6Fc;
  padding-bottom: 20px;
}
.margin{
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  font-size: 4vmax;
  text-align: center;
}
.headerslogan {
  font-size:2.5vmax;
  text-align: center;
}
nav{
  display: flex;
  justify-content: center;
}
.headerlink{
  font-size: 1.5vmax;
  float: left;
  margin: 10px;
}
#news{
  margin: 2vw;
  padding: 3vw;
  background-color: rgb(255, 250, 251);
  border: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: #fa9ad2;
  font-size: 3.5vw;
}
.news_element{
  border-top: solid;
  border-color: rgb(161, 172, 181);
  font-size: 3.3vw;
  padding-bottom: 1%;
  line-height: 5vw;
}
.slogan{
  background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
  color: #F0F6Fc;
  padding: 20px;
  font-size: 1.5vmax;
  clear: left;
  text-align: center;
}
.chapter{
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.element{
  padding-top: 20px;
  padding-bottom: 20px;
}
.map{
  width: 90%;
  height: 100%;
  margin-bottom: 20px;
}

.traveltime{
  margin: 20px;
}
footer{
  background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
  color: #F0F6Fc;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  clear: left;
}
.flex_2{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.icon{
  width: 90%;
 }

.timeschedule_title{
  text-align: center;
}
.timeschedule_img{
  width: 100%;
}


.concert_title{
  background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
  color: #F0F6Fc;
  text-align: center;
  font-size: 3vw;
  padding: 10px;
}
.concert_element{
  background:linear-gradient(70deg,#fb4cb2,50%,rgb(244, 191, 200));
  color: #F0F6Fc;
  font-size: 2.5vw;
  margin: 20px;
  padding: 20px;line-height: 200%;
}
@media screen and (min-width: 600px) {
  * {
    margin:0; padding:0;
  }
  body {
    font-family:  游ゴシック, "Yu Gothic","ヒラギノ角ゴ", HiraKaku,  メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  }
  .sticky_header{
    background-color: black;
    height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .sticky_header_logo{
    padding-left: 15px;
    padding-top: 3px;
  }
  .sticky_header_title{
    color: #F0F6Fc;
    padding-left: 15px;
    text-align: left;
    line-height: 30px;
    font-size: 2vw;
    
  }
  .sticky_header_slogan{
    color: #e4eaef;
    padding-left: 15px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 2vw;
  }
  .sticky_header_nav{
    border-top:none;
    width: 45%;
    padding: 0px;
    margin: 15px 10px 0 auto;
  }
  .sticky_header_link{
    color: #e4eaef;
    font-size: 2.2vw;
    margin: 5px;
  }
  header{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    padding-bottom: 20px;
  }
  .margin{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title {
    font-size: 4vmax;
    text-align: center;
  }
  .headerslogan {
    font-size:2.5vmax;
    text-align: center;
  }
  nav{
    display: flex;
    justify-content: center;
  }
  .headerlink{
    font-size: 1.5vmax;
    float: left;
    margin: 10px;
  }
  #news{
    margin-top: 2vw;
    margin-bottom: 3.2vw;
    padding: 1vw;
    background-color: rgb(255, 250, 251);
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(255, 218, 225);
    font-size: 1.5vw;
  }
  .news_element{
    border-top: solid;
    border-color: rgb(161, 172, 181);
    font-size: 1.5vw;
    padding-bottom: 2px;
    line-height: 2vw;
  }
  .slogan{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    padding: 20px;
    font-size: 1.5vmax;
    clear: left;
  }
  .chapter{
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .element{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .map{
    float: left;
    margin-right: 50px;
    width: 313px;
    height: 100%;
  }
  
  .traveltime{
    margin: 20px;
  }
  footer{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    height: 100px;
    text-align: center;
    padding-top: 50px;
    clear: left;
  }
  
  .flex{
    display: flex;
  }
  .flex_2{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  .icon{
    width: 80%;
  }


  .concert_title{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    text-align: center;
    padding: 20px;
    font-size: 2vw;
  }
  .concert_element{
    background:linear-gradient(50deg,#fb4cb2,50%,rgb(244, 191, 200));
    color: #F0F6Fc;
    font-size: 2vw;
    margin: 40px;
    padding: 20px;line-height: 200%;
  }
}
@media screen and (min-width: 825px) {
  * {
    margin:0; padding:0;
  }
  body {
    font-family:  游ゴシック, "Yu Gothic","ヒラギノ角ゴ", HiraKaku,  メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  }
  .sticky_header{
    background-color:black;
    height: 60px;
    display: flex;
  }
  .sticky_header_logo{
    padding-left: 20px;
    padding-top: 3px;
  }
  .sticky_header_title{
    color: #F0F6Fc;
    padding-left: 20px;
    line-height: 30px;
    font-size: 20px;
  }
  .sticky_header_slogan{
    color: #e4eaef;
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .sticky_header_nav{
    border-top:none;
    width: 370px;
    padding: 0px;
    margin: 10px 10px 0 auto;
  }
  .sticky_header_link{
    color: #e4eaef;
    font-size: 18px;
    margin: 5px;
  }
  header{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    color: #F0F6Fc;
    padding-bottom: 20px;
  }
  .margin{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title {
    font-size: 4vmax;
    text-align: center;
  }
  .headerslogan {
    font-size:2.5vmax;
    text-align: center;
  }
  nav{
    display: flex;
    justify-content: center;
  }
  .headerlink{
    font-size: 1.5vmax;
    float: left;
    margin: 10px;
  }
  #news{
    margin-top: 3vw;
    margin-bottom: 2vw;
    padding: 1vw;
    background-color: rgb(255, 250, 251);
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(255, 218, 225);
    font-size: 1.15vw;
  }
  .news_element{
    border-top: solid;
    border-color: rgb(161, 172, 181);
    font-size: 1.15vw;
    padding-bottom: 2px;
    line-height: 1.5vw;
  }
  .slogan{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    color: #F0F6Fc;
    padding: 20px;
    font-size: 1.5vmax;
    clear: left;
  }
  .chapter{
    height: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .element{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .map{
    float: left;
    margin-right: 50px;
    width: 313px;
    height: 100%;
  }
  
  .traveltime{
    margin: 20px;
  }
  footer{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    color: #F0F6Fc;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    clear: left;
  }
  
  .flex{
    display: flex;
  }
  .flex_2{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
   .icon{
    width: 80%;
  }



  .concert_title{
    background:linear-gradient(120deg,#EE1A97,rgb(244, 191, 200));
    color: #F0F6Fc;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  .concert_element{
    background:linear-gradient(20deg,#fb4cb2,50%,rgb(244, 191, 200));
    color: #F0F6Fc;
    font-size: 20px;
    margin: 40px;
    padding: 20px;line-height: 200%;
  }

}